<header class="site-header">
  <div class="container header-inner">
    <a href="/" class="brand">AminAmir Trends</a>
    <nav class="site-nav">
      <a href="/collections/all">Shop</a>
      <a href="/cart">Cart</a>
    </nav>
  </div>
</header>
